.logo {
    margin: 16px;
}

.logo img{
    width: 90%;
    padding-bottom: 24px;
}

.header {
    background: white;
    padding-right: 0;
    z-index: 1;
    box-shadow: 0 2px 8px #f0f1f2;
}

.avatar {
    background-color: #F27781;
}

.rightAlignedMenu {
    float: right;
}

.content {
    min-height: 100vh;
    background-color: white;
    padding-left: 240px;
    padding-top: 40px;
}

.siderPosition {
    height: 100vh;
    position: fixed;
    z-index: 2;
}

.mentorRow {
    display: initial;
}

.container {
    padding-right: 40px;
}

.mentorNameSpan{
    padding-right: 2rem;
}

.mentorSearchSider{
    background-color: white;
    min-width: 260px!important;
    box-shadow: 0 2px 8px #f0f1f2;
}

.mentorSearch{
    padding: 15px;
}