.cardTitle {
    text-align: center;
    margin-top: 1rem;
}

.container {
    margin-top: 1rem;
}

.mentorCardHeight {
    height: 15rem;
}

.profileHeadline {
    text-align: center;
}

.horizontalLine {
    opacity: 0.2;
    margin-top: 35px;
    margin-bottom: 35px;
}

.rightAlign {
    float: right;
}
