.approveBtn {
    color: #fff;
    background: #52c41a;
    border-color: #52c41a;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.approveBtn:hover {
    color: #fff;
    background: #73d13d;
    border-color: #73d13d;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.rejectBtn {
    color: #fff;
    background: #fa541c;
    border-color: #fa541c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.rejectBtn:hover {
    color: #fff;
    background: #ff7a45;
    border-color: #ff7a45;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
