.email_edit_form {
    margin-left: 140px;
}

.email_edit_title {
    margin-left: 140px;
}
.backButton {
    margin-top: 1rem;
    border: transparent;
    background: transparent;
    box-shadow: none;
    margin-left: 70px;
}