.mentorMeta {
    width: 75%;
}

.backButton {
    margin-top: 1rem;
    border: transparent;
    background: transparent;
    box-shadow: none;
}

.backButtonColumn {
    display: grid;
    justify-content: center;
}


.cardTitle {
    text-align: center;
    margin-top: 1rem;
}

.mentorCardList{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mentorCardHeight {
    height: 15rem;
}

.mentorCardBorder{
   border: 1px solid #1890ff;
   height: 15rem;
}

.profileHeadline {
    text-align: center;
}

