.logo {
    width: 350px;
}

.cardWrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
}

.programActionButton {
    text-align: right;
    margin-bottom: 10px;
}

.programmeAddButton{
    height: 21.2rem !important;
    width: 22.4rem !important;
}