.logo {
    width: 250px;
    margin-bottom: 2rem;
}

.form {
    margin-top: 3rem;
    padding-top: 10px;
}

.submitButton {
    margin-left: 1.5rem;
}

.card{
    width: 900px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 190px;
}

